<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Capacitor</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Summoning Ero"> </app-explore-container>

  <ion-content
    style="display: flex; flex-direction: column; justify-content: center"
  >
    <ion-label> message: {{ message }} </ion-label>
    <ion-label> Lat: {{ lat }} Lng: {{ lng }} </ion-label>
    <button (click)="stopLocationUpdate()"></button>
  </ion-content>
</ion-content>
